@use "./sass/animations";
@import "./sass/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1440px;
    background-color: white;
    overflow: hidden;

    &__response {
        display: flex;
        flex-direction: column;

        transform: translate(0, -10%);


        @media (max-width: 740px) {
            flex-direction: column;
            transform: translate(0, -7.5%);
        }
    }

    &__info-heading {
        margin-top: 10%;
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
        font-family: $font-family;
    }

    &__spinner {
        display: none;
        align-content: center;
        margin-top: 10%;
        font-size: 5rem;
        animation: spinner 1.2s infinite linear;
    }

    // &__response-data {
    //     display: none;
    // }

    &__attribution {
        align-self: center;
        justify-self: flex-end;
        font-family: $font-family;
        margin-top: auto;
        margin-bottom: 4rem;
    }
}