@import "./sass/variables";

$flex-gap: 30px;

.header {
    &__background {
        display: flex;
        justify-content: flex-start;
        gap: $flex-gap;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        max-width: 1440px;
        height: 250px;
        background-image: url('../assets/pattern-bg.png');
    }

    &__heading {
        margin-top: $flex-gap;
        font-family: $font-family;
        color: white;
        font-size: 2.2rem;
        font-weight: 500;
    }
}