@use './sass/variables';
@use "./sass/animations";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1440px;
    background-color: white;
    overflow: hidden;

    &--spinner {
        margin-top: 10%;
        font-size: 5rem;
        animation: spinner 1.2s infinite linear;
    }

    &--response {
        transform: translate(0, -10%);

        @media (max-width: 740px) {
            flex-direction: column;
            align-items: center;
            transform: translate(0, -7.5%);
        }
    }
}