@import './sass/variables';

.data-display-field{
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;

}

.data-display-field {
    &--label{
        font-size: 1.4rem;
        color: $label-color;
        font-weight: 500;
    }

    &--result {
        font-size: 2rem;
        font-weight: 700;
    }
}