@import './sass/variables';

.data-display-field {
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (max-width: 740px) {
        text-align: center;
    }
}

.data-display-field {
    &__label {
        font-size: 1.4rem;
        color: $label-color;
        font-weight: 500;
    }

    &__result {
        font-size: 2rem;
        font-weight: 700;
    }
}