@import "./sass/variables";

.header--background {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    
    overflow: hidden;
    background-color: #555;
    width: 1440px;
    height: 250px;
    }

.header--heading {
    font-family: $font-family;
    color: white;
    font-size: 3rem;
    font-weight: 500;
}